<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="bower_components/md-pickers/dist/mdPickers.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <md-content id="content" layout="column" ng-controller="MainCtrl as ctrl">
    <div id="datePicker">
      <h2>Date Picker</h2>
      <div>
        <md-button ng-click="ctrl.showDatePicker($event)" aria-label="show picker">{{holdDateAndTime.date ? "Now Select A Time" : "Select Date"}}</md-button>
      </div>
    </div>
    <div id="timePicker">
      <h2>Time Picker</h2>
      <mdp-time-picker mdp-disabled="true" ng-model="currentDate" ng-class='{disabled: disabled}' ng-click="disabled ||ctrl.showTimePicker($event)"></mdp-time-picker>
    </div>
    <div id="dateAndTime">
      <div ng-show="dateAndTime.time">
        <h3>Selected Date and Time:</h3>
        <p>
          {{ dateAndTime.date | date:'shortDate' }} 
          {{ dateAndTime.time | date:'hh:mm a' }} 
          {{ selectedTZ.abbv }}
        </p>
        <md-select ng-model="selectedTZ" ng-model-options="{trackBy: '$value.id'}" aria-label="time zones" placeholder="Change Time Zone">
          <md-option ng-value="timeZone" ng-repeat="timeZone in timeZones">{{ timeZone.area }}</md-option>
        </md-select>
      </div>
    </div>
  </md-content>

  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment-timezone/moment-timezone.js"></script>
  <script src="bower_components/md-pickers/dist/mdPickers.js"></script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
